@charset "UTF-8";
/*images*/
/*=======================START-MEDIA=====================*/
/*--------- font-face ---------*/
@font-face {
  font-family: BlackerPro;
  src: url("../fonts/Blacker-Pro/BlackerPro-Medium.woff") format("woff"), url("../fonts/Blacker-Pro/BlackerPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Source Sans Pro;
  src: url("../fonts/Source-Sans-Pro/Source-Sans-Pro-Bold.woff") format("woff"), url("../fonts/Source-Sans-Pro/Source-Sans-Pro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Source Sans Pro;
  src: url("../fonts/Source-Sans-Pro/Source-Sans-Pro-regular.woff") format("woff"), url("../fonts/Source-Sans-Pro/Source-Sans-Pro-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-text-decoration-skip: objects;
          text-decoration-skip: objects;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  min-width: 320px;
  overflow-x: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

html, body {
  height: 100%;
}

audio,
video {
  display: block;
}

section {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a img {
  border: none;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
  border-style: none;
}

input,
textarea,
select {
  vertical-align: middle;
}

form, fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
  width: 100%;
}

input[type="search"],
input[type="text"],
input[type="file"],
input[type="password"],
input[type="submit"],
input[type="email"],
input[type="tel"],
textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  resize: none;
  outline: none;
}

input[type="email"] {
  box-shadow: none;
  -webkit-box-shadow: none;
}

input[type="image"] {
  padding: 0;
  border: none;
}

input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="submit"],
input[type="button"] {
  cursor: pointer;
}

input[type="submit"]:focus,
input[type="button"]:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button,
input[type=email]::-webkit-inner-spin-button,
input[type=email]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

p, span, label, h1, h2, h3, h4, h5, h6, b, strong, i, em {
  max-width: 100%;
  word-wrap: break-word;
  white-space: normal;
  margin: 0;
}

div {
  word-wrap: break-word;
  white-space: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

iframe {
  border: none;
}

input::-ms-clear {
  display: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: #2B1D20;
}

p, span, a {
  line-height: 1.4;
}

.container {
  max-width: calc(1570px + 15px * 2);
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

*:focus, *:focus-visible {
  outline: none !important;
}

h1, h2, h3, .h1-title, .h2-title, .h3-title {
  display: block;
}

.h1-title {
  font-family: 'BlackerPro', sans-serif;
  font-weight: 500;
  font-size: 70px;
  line-height: 1.3;
  font-weight: 500;
}

@media only screen and (max-width: 576px) {
  .h1-title {
    font-size: 50px;
    font-size: calc(40px + (50 - 40) * ((100vw - 480px) / (576 - 480)));
  }
}

@media only screen and (max-width: 576px) and (max-width: 480px) {
  .h1-title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 576px) and (min-width: 576px) {
  .h1-title {
    font-size: 50px;
  }
}

.h2-title {
  font-family: 'BlackerPro', sans-serif;
  font-weight: 500;
  font-size: 50px;
  line-height: 1.34;
}

.h3-title {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.42;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon {
  display: inline-block;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.primary-section {
  background-color: #BF986D;
}

.primary-section h1,
.primary-section h2,
.primary-section h3,
.primary-section p {
  color: #fff;
}

.light-section {
  background-color: #EDE8E3;
}

.text-wrap p:not(:last-child) {
  margin-bottom: 10px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section {
  max-width: 1920px;
  margin: auto;
}

.no-scroll {
  overflow: hidden;
}

.overlay {
  background: black;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 900;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.overlay.is-visible {
  visibility: visible;
  opacity: 0.8;
  pointer-events: auto;
}

.header {
  position: relative;
  max-width: 1920px;
  margin: auto;
  width: 100%;
}

.header__inner {
  display: grid;
  grid-template-columns: 9.4% auto 170px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media only screen and (max-width: 1600px) {
  .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 0px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media only screen and (max-width: 1200px) {
  .header__inner {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.header__inner:before {
  content: '';
}

@media only screen and (max-width: 1600px) {
  .header__inner:before {
    display: none;
  }
}

@media only screen and (max-width: 1600px) {
  .header__inner .button {
    margin-left: 100px;
  }
}

@media only screen and (max-width: 1440px) {
  .header__inner .button {
    margin-left: 50px;
  }
}

.header__inner .social {
  position: absolute;
  left: 100px;
  top: 30px;
}

.header__inner .menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports ((-moz-column-gap: 30px) or (column-gap: 30px)) {
  .header__navigation {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}

@supports not ((-moz-column-gap: 30px) or (column-gap: 30px)) {
  .header__navigation {
    margin-right: calc( 0px - (30px / 2));
    margin-left: calc( 0px - (30px / 2));
  }
  .header__navigation > * {
    margin-right: calc(30px / 2);
    margin-left: calc(30px / 2);
  }
}

.header__mobile {
  display: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 1200px) {
  .header__mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.header__mobile-contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: auto;
}

@supports (row-gap: 30px) {
  .header__mobile-contact {
    row-gap: 30px;
  }
}

@supports not (row-gap: 30px) {
  .header__mobile-contact {
    margin-top: -30px;
  }
  .header__mobile-contact > * {
    margin-top: 30px;
  }
}

.header__modal {
  max-width: 320px;
  width: 100%;
  padding: 120px 40px 80px;
  height: 100vh;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  z-index: 999;
  right: 0px;
  top: 0px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.header__modal .menu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.header__modal .social__item a i {
  font-size: 35px;
}

.header__modal.is-open {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports ((-moz-column-gap: 20px) or (column-gap: 20px)) {
  .menu {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}

@supports not ((-moz-column-gap: 20px) or (column-gap: 20px)) {
  .menu {
    margin-right: calc( 0px - (20px / 2));
    margin-left: calc( 0px - (20px / 2));
  }
  .menu > * {
    margin-right: calc(20px / 2);
    margin-left: calc(20px / 2);
  }
}

@supports (row-gap: 10px) {
  .menu {
    row-gap: 10px;
  }
}

@supports not (row-gap: 10px) {
  .menu {
    margin-top: -10px;
  }
  .menu > * {
    margin-top: 10px;
  }
}

.menu__item span, .menu__item a {
  color: #2B1D20;
}

.menu__item span {
  position: relative;
  display: block;
}

.menu__item span:after {
  bottom: -10px;
  position: absolute;
  content: '';
  width: 100%;
  display: block;
  height: 2px;
  background-color: currentColor;
}

@media (any-hover: hover) {
  .menu__item a {
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
  }
  .menu__item a:hover {
    color: #BF986D;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports ((-moz-column-gap: 30px) or (column-gap: 30px)) {
  .social {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}

@supports not ((-moz-column-gap: 30px) or (column-gap: 30px)) {
  .social {
    margin-right: calc( 0px - (30px / 2));
    margin-left: calc( 0px - (30px / 2));
  }
  .social > * {
    margin-right: calc(30px / 2);
    margin-left: calc(30px / 2);
  }
}

.social__item a i {
  color: silver;
}

@media (any-hover: hover) {
  .social__item a {
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
  }
  .social__item a:hover i {
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    color: #BF986D;
  }
}

.logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.burger {
  position: relative;
  z-index: 1000;
  width: 35px;
  height: 35px;
  background-color: rgba(0, 0, 0, 0);
  padding: 0px;
}

.burger:before, .burger:after {
  content: '';
  position: absolute;
  width: 100%;
}

.burger span {
  width: 75%;
  margin-left: auto;
}

.burger:after, .burger:before,
.burger span {
  display: block;
  height: 3px;
  border-radius: 10px;
  background-color: #2B1D20;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.burger:after {
  bottom: 5px;
}

.burger:before {
  top: 5px;
}

.burger.is-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.burger.is-active span {
  width: 0px;
}

.burger.is-active:after {
  bottom: auto;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 16px;
}

.burger.is-active:before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 16px;
}

.button {
  padding: 17px 44px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 46px;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.43;
  display: inline-block;
}

.button__primary {
  color: #2B1D20;
  background: #EDE8E3;
  border: 2px solid #EDE8E3;
}

@media (any-hover: hover) {
  .button__primary {
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
  }
  .button__primary:hover {
    background: rgba(0, 0, 0, 0);
    color: #EDE8E3;
  }
}

.button__second {
  color: #fff;
  background: #BF986D;
  border: 2px solid #BF986D;
}

@media (any-hover: hover) {
  .button__second {
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
  }
  .button__second:hover {
    background: rgba(0, 0, 0, 0);
    color: #BF986D;
  }
}

.button__small {
  padding: 20px 37px;
  color: #2B1D20;
  border-radius: 5px;
  background-color: #BF986D;
  border: 2px solid #BF986D;
  text-align: center;
  font-weight: 400;
}

@media (any-hover: hover) {
  .button__small {
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
  }
  .button__small:hover {
    background: rgba(0, 0, 0, 0);
    color: #BF986D;
  }
}

.main-banner__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-banner__left {
  padding-top: 132px;
  padding-left: 100px;
  padding-right: 140px;
  padding-bottom: 50px;
}

@media only screen and (max-width: 567px) {
  .main-banner__left {
    padding: 50px 20px;
  }
}

.main-banner__title {
  margin-bottom: 20px;
}

.main-banner__right {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom right;
     object-position: bottom right;
  min-width: calc(100% - 740px);
  height: auto;
}

@media only screen and (max-width: 1440px) {
  .main-banner__right {
    -o-object-position: center;
       object-position: center;
  }
}

@media only screen and (max-width: 1200px) {
  .main-banner__right {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

.main-banner__description {
  margin-bottom: 70px;
  max-height: 150px;
  overflow: hidden;
}

.products {
  padding-top: 85px;
  padding-bottom: 140px;
}

.products__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__bottom p:not(:last-child),
.products__bottom ul:not(:last-child) {
  margin-bottom: 30px;
}

.products__bottom li {
  line-height: 1.4;
}

.products__bottom li:before {
  content: '·';
  margin-right: 8px;
}

.products__title {
  margin-bottom: 80px;
}

.products__inner {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 80px;
}

@supports (row-gap: 60px) {
  .products__inner {
    row-gap: 60px;
  }
}

@supports not (row-gap: 60px) {
  .products__inner {
    margin-top: -60px;
  }
  .products__inner > * {
    margin-top: 60px;
  }
}

@media only screen and (max-width: 1000px) {
  @supports (row-gap: 30px) {
    .products__inner {
      row-gap: 30px;
    }
  }
  @supports not (row-gap: 30px) {
    .products__inner {
      margin-top: -30px;
    }
    .products__inner > * {
      margin-top: 30px;
    }
  }
}

.products__item {
  -ms-flex-preferred-size: calc((100% - 2 * 80px) / 3);
      flex-basis: calc((100% - 2 * 80px) / 3);
}

@media only screen and (max-width: 1000px) {
  .products__item {
    -ms-flex-preferred-size: calc((100% - 2 * 15px) / 2);
        flex-basis: calc((100% - 2 * 15px) / 2);
  }
}

@media only screen and (max-width: 767px) {
  .products__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.products__top {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
}

.products__top img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  mix-blend-mode: hard-light;
}

@media only screen and (max-width: 767px) {
  .products__top img {
    width: 100%;
  }
}

.products__top .h2-title {
  color: #fff;
  position: absolute;
  left: 25px;
  bottom: 35px;
  z-index: 3;
  max-width: 320px;
}

.products__top:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #2B1D20;
  mix-blend-mode: luminosity;
  z-index: 2;
  opacity: 0.5;
  top: 0px;
  left: 0px;
}

.fqa {
  padding-top: 150px;
  padding-bottom: 240px;
}

.fqa__inner {
  margin: auto;
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@supports ((-moz-column-gap: 80px) or (column-gap: 80px)) {
  .fqa__inner {
    -webkit-column-gap: 80px;
       -moz-column-gap: 80px;
            column-gap: 80px;
  }
}

@supports not ((-moz-column-gap: 80px) or (column-gap: 80px)) {
  .fqa__inner {
    margin-right: calc( 0px - (80px / 2));
    margin-left: calc( 0px - (80px / 2));
  }
  .fqa__inner > * {
    margin-right: calc(80px / 2);
    margin-left: calc(80px / 2);
  }
}

@media only screen and (max-width: 1000px) {
  .fqa__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.fqa__title {
  max-width: 340px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

@media only screen and (max-width: 1000px) {
  .fqa__title {
    max-width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
}

.fqa__item {
  border-bottom: 1px solid #BF986D;
  margin-bottom: 20px;
  cursor: pointer;
}

.fqa__accordions {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.fqa__sub-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0px;
}

.fqa__btn {
  width: 25px;
  height: 23px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.fqa__btn .icon {
  margin-top: 2px;
}

.fqa__btn.is-open {
  -webkit-transform: scale(1, -1);
      -ms-transform: scale(1, -1);
          transform: scale(1, -1);
}

.fqa__text {
  margin-top: 20px;
  margin-bottom: 60px;
  display: none;
}

.fqa__text p:not(:last-child) {
  margin-bottom: 25px;
}

.review .container {
  position: relative;
}

.review__left {
  max-width: 895px;
  padding-top: 220px;
  padding-bottom: 160px;
}

.review__quote {
  font-family: 'BlackerPro', sans-serif;
  font-weight: 500;
  font-size: 40px;
  margin-bottom: 85px;
  line-height: 1.25;
}

.review__image {
  position: absolute;
  top: 0px;
  left: calc(895px + 95px);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 100%;
}

@media only screen and (max-width: 1200px) {
  .review__image {
    position: static;
    min-width: calc(100% + (2 * 15px));
    height: 600px;
    margin-left: -15px;
  }
}

.subscription {
  padding-top: 230px;
  padding-bottom: 150px;
  position: relative;
  background-color: #2B1D20;
}

.subscription:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  -o-object-position: center;
     object-position: center;
  opacity: 0.4;
  mix-blend-mode: hard-light;
}

.subscription__inner {
  max-width: 729px;
  margin: auto;
  text-align: center;
  position: relative;
}

.subscription__title {
  margin-bottom: 55px;
  color: #fff;
}

.subscription__text {
  margin-bottom: 25px;
  color: #fff;
}

@media only screen and (max-width: 567px) {
  .section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.section-bottom {
  padding-bottom: 100px;
}
