@charset "UTF-8";
/* FONT SourceSansPro */
/*images*/
/*=======================START-MEDIA=====================*/
/*=======================END-MEDIA=====================*/
/* media breakpoint mixin */
/* Single property transition mixin */
/*--------- font-face ---------*/
@font-face {
  font-family: BlackerPro;
  src: url("../fonts/Blacker-Pro/BlackerPro-Medium.woff") format("woff"), url("../fonts/Blacker-Pro/BlackerPro-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Source Sans Pro;
  src: url("../fonts/Source-Sans-Pro/Source-Sans.woff") format("woff"), url("../fonts/Source-Sans-Pro/Source-Sans.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-text-decoration-skip: objects;
          text-decoration-skip: objects;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  min-width: 320px;
  overflow-x: hidden;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  min-height: 100%;
}

html, body {
  height: 100%;
}

audio,
video {
  display: block;
}

section {
  max-width: 100%;
}

a {
  text-decoration: none;
}

a:focus {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a img {
  border: none;
}

ul, ol {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
  border-style: none;
}

input,
textarea,
select {
  vertical-align: middle;
}

form, fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
  width: 100%;
}

input[type="search"],
input[type="text"],
input[type="file"],
input[type="password"],
input[type="submit"],
input[type="email"],
input[type="tel"],
textarea, select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  resize: none;
  outline: none;
}

input[type="email"] {
  box-shadow: none;
  -webkit-box-shadow: none;
}

input[type="image"] {
  padding: 0;
  border: none;
}

input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input[type="submit"],
input[type="button"] {
  cursor: pointer;
}

input[type="submit"]:focus,
input[type="button"]:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button,
input[type=email]::-webkit-inner-spin-button,
input[type=email]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

button:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

p, span, label, h1, h2, h3, h4, h5, h6, b, strong, i, em {
  max-width: 100%;
  word-wrap: break-word;
  white-space: normal;
  margin: 0;
}

div {
  word-wrap: break-word;
  white-space: normal;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

iframe {
  border: none;
}

input::-ms-clear {
  display: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

.btn--full-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
}

.text-clip {
  white-space: nowrap;
  /* Отменяем перенос текста */
  overflow: hidden;
  /* Обрезаем содержимое */
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.grid {
  display: grid;
}

.grid__col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid__col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid__col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid__col-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.grid__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.grid__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bg-cover-center__mod {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.flex-wrap {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hidden {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.disable {
  pointer-events: none !important;
}

.hand {
  cursor: pointer !important;
}

.tac {
  text-align: center;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: #2B1D20;
}

p {
  line-height: 1.4;
}

.container {
  max-width: calc(1570px + 15px * 2);
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

*:focus, *:focus-visible {
  outline: none !important;
}

h1, h2, h3, .h1-title, .h2-title, .h3-title {
  display: block;
}

.h1-title {
  font-family: 'BlackerPro', sans-serif;
  font-weight: 500;
  font-size: 70px;
  line-height: 1.3;
  font-weight: 500;
}

.h2-title {
  font-family: 'BlackerPro', sans-serif;
  font-weight: 500;
  font-size: 50px;
  line-height: 1.34;
}

.h3-title {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.42;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.primary-section {
  background-color: #BF986D;
}

.primary-section h1,
.primary-section h2,
.primary-section h3,
.primary-section p {
  color: #fff;
}

.text-wrap p:not(:last-child) {
  margin-bottom: 10px;
}

.noscript {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  font-size: 14px;
  color: #8e1f1f;
  background-color: #efafaf;
  text-align: center;
  z-index: 77777;
}

.noscript a {
  margin-left: 3px;
  margin-right: 3px;
  color: #630303;
  text-decoration: underline;
}

@media (any-hover: hover) {
  .noscript a:hover {
    text-decoration: none;
  }
}

.button {
  padding: 17px 44px;
  -webkit-transition: property 0.3s ease;
  -o-transition: property 0.3s ease;
  transition: property 0.3s ease;
  border-radius: 46px;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.43;
  display: inline-block;
}

.button__primary {
  color: #2B1D20;
  background: #EDE8E3;
  border: 2px solid #EDE8E3;
}

@media (any-hover: hover) {
  .button__primary {
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
  }
  .button__primary:hover {
    background: rgba(255, 255, 255, 0);
    color: #EDE8E3;
  }
}

.button__second {
  color: #fff;
  background: #BF986D;
  border: 2px solid #BF986D;
}

@media (any-hover: hover) {
  .button__second {
    -webkit-transition-duration: 0.3s;
         -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
    -webkit-transition-property: all;
    -o-transition-property: all;
    transition-property: all;
  }
  .button__second:hover {
    background: rgba(255, 255, 255, 0);
    color: #BF986D;
  }
}

.main-banner {
  max-width: 1920px;
  margin: auto;
}

.main-banner__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 850px;
}

.main-banner__left {
  padding-top: 132px;
  padding-left: 100px;
  padding-right: 140px;
  padding-bottom: 50px;
}

.main-banner__title {
  margin-bottom: 20px;
}

.main-banner__right {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom right;
     object-position: bottom right;
  min-width: calc(100% - 740px);
  height: auto;
}

@media only screen and (max-width: 1440px) {
  .main-banner__right {
    -o-object-position: center;
       object-position: center;
  }
}

.main-banner__description {
  margin-bottom: 70px;
  max-height: 150px;
  overflow: hidden;
}

.products {
  padding-top: 85px;
  padding-bottom: 140px;
}

.products__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products__top {
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
}

.products__top img {
  opacity: 0.9;
  height: auto;
}

.products__top .h2-title {
  color: #fff;
  position: absolute;
  left: 25px;
  bottom: 35px;
  z-index: 3;
  max-width: 320px;
}

.products__top:after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #2B1D20;
  mix-blend-mode: overlay;
  z-index: 2;
  opacity: 0.7;
  top: 0px;
  left: 0px;
}

.products__bottom p:not(:last-child),
.products__bottom ul:not(:last-child) {
  margin-bottom: 30px;
}

.products__bottom li {
  line-height: 1.4;
}

.products__bottom li:before {
  content: '·';
  margin-right: 8px;
}

.products__title {
  margin-bottom: 80px;
}

.products__inner {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@supports (row-gap: 60px) {
  .products__inner {
    row-gap: 60px;
  }
}

@supports not (row-gap: 60px) {
  .products__inner {
    margin-bottom: -60px;
  }
  .products__inner > * {
    margin-bottom: 60px;
  }
}

.products__item {
  -ms-flex-preferred-size: calc((100% - 2 * 80px) / 3);
      flex-basis: calc((100% - 2 * 80px) / 3);
}

.products .button {
  margin-top: 80px;
}
