.main-banner {
  &__inner {
    display: flex;
    height: 850px;
  }
  &__left {
    padding-top: 132px;
    padding-left: 100px;
    padding-right: 140px;
    padding-bottom: 50px;
  }
  &__title {
    margin-bottom: 20px;
  }
  &__right {
    object-fit: cover;
    object-position: bottom right;
    min-width: calc(100% - 740px);
    height: auto;
    @include media(1440) {
      object-position: center;
    }
  }
  &__description {
    margin-bottom: 70px;
    max-height: 150px;
    overflow: hidden;
  }
}

.products {
  padding-top: 85px;
  padding-bottom: 140px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__bottom {
    p,
    ul {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
    li {
      line-height: $global-line-height;
      &:before {
        content: '·';
        margin-right: 8px;
      }
    }
  }
  &__title {
    margin-bottom: 80px;
  }
  &__inner {
    @include gap(row, 60px);
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 80px;
  }
  &__item {
    @include flex-basis-responsive(2, 80px, 3);
  }
  &__top {
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
    //background-color: #2B1D20;
    img {
      height: 100%;
      //mix-blend-mode: hard-light;
    }
    .h2-title {
      color: $light;
      position: absolute;
      left: 25px;
      bottom: 35px;
      z-index: 3;
      max-width: 320px;
    }
    &:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: #2B1D20;
      mix-blend-mode: overlay;
      z-index: 2;
      opacity: 0.6;
      top: 0px;
      left: 0px;
    }
  }
}

.fqa {
  padding: 140px 0px 220px;
  &__inner {
    margin: auto;
    max-width: 1100px;
    display: flex;
    @include gap(column, 80px);
  }
  &__title {
    max-width: 340px;
    flex-shrink: 0;
  }
  &__item {
    border-bottom: 1px solid $primary;
    margin-bottom: 20px;
  }
  &__accordions {
    flex: 1;
  }
  &__sub-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
  }
  &__btn {
    @include size(25px, 23px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    @include transition;
    .icon {
      margin-top: 2px;
    }
    &.is-open {
      transform: scale(1, -1);
    }
  }
  &__text {
    margin-top: 20px;
    margin-bottom: 60px;
    display: none;
    p:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}

.review {
  $width-quote: 895px;
  .container {
    position: relative;
    padding-top: 220px;
    padding-bottom: 160px;
  }
  &__left {
    max-width: $width-quote;
  }
  &__quote {
    @include font-BlackPro;
    font-size: 40px;
    margin-bottom: 85px;
    line-height: 1.25;
  }
  &__image {
    position: absolute;
    top: 0px;
    left: calc(#{$width-quote} + 95px);
    object-fit: cover;
    object-position: center;
    height: 100%;
  }
}

.subscription {
  padding-top: 230px;
  padding-bottom: 150px;
  &__inner {
    max-width: 763px;
    margin: auto;
    text-align: center;
  }
  &__title {
    margin-bottom: 55px;
    max-width: 729px;
  }
  &__text {
    margin-bottom: 25px;
  }
}