.button {
  padding: 17px 44px;
  @include transition;
  border-radius: 46px;
  font-weight: 700;
  font-size: 21px;
  line-height: 1.43;
  display: inline-block;
  &__primary {
    color: $dark;
    background: $primary-light;
    border: 2px solid $primary-light;
    @include hover {
      background: $transparent;
      color: $primary-light;
    }
  }
  &__second {
    color: $light;
    background: $primary;
    border: 2px solid $primary;
    @include hover {
      background: $transparent;
      color: $primary;
    }
  }
  &__small {
    padding: 20px 37px;
    color: $dark;
    border-radius: 5px;
    background-color: $primary;
    border: 2px solid $primary;
    text-align: center;
    font-weight: 400;
    @include hover {
      background: $transparent;
      color: $primary;
    }
  }
}

