@mixin transition($property: all, $speed: 0.3s, $time-function: ease) {
	transition: $property $speed $time-function;
}

@mixin anim-linear{
	transition: all .3s linear;
}

// Button sizes
@mixin btn-size($padding-vertical, $padding-horizontal, $font-size, $line-height) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
}

/* FONT SourceSansPro */
//@mixin fl {font-family: 'Montserrat-Light',sans-serif;}
//@mixin fr {font-family: 'Montserrat-Regular',sans-serif;}
//@mixin fm {font-family: 'Montserrat-Medium',sans-serif;}
//@mixin fdb {font-family: 'Montserrat-SemiBold',sans-serif;}
//@mixin fb {font-family: 'Montserrat-Bold',sans-serif;}

/*images*/

@mixin font-BlackPro {
  font-family: 'BlackerPro', sans-serif;
  font-weight: 500;
}

@mixin cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

  // vertical-align at center
@mixin vcenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/*=======================START-MEDIA=====================*/
@mixin media($width) {
  @media only screen and (max-width: $width+ "px") {
    @content; } }

@mixin min-media($width) {
  @media only screen and (min-width: $width+ "px") {
    @content; } }

/*=======================END-MEDIA=====================*/
//placeholder
@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }
}

@mixin css-lock($min-size: 1, $max-size: 1.4, $min-width: 20, $max-width: 100, $property: font-size, $unit: px) {
  #{$property}: #{$max-size}#{$unit};
  #{$property}: calc(#{$min-size}#{$unit} + (#{$max-size} - #{$min-size}) * ((100vw - #{$min-width}#{$unit}) / (#{$max-width} - #{$min-width})));
  @media (max-width: #{$min-width}#{$unit}) {
    #{$property}: #{$min-size}#{$unit}; }
  @media (min-width: #{$max-width}#{$unit}) {
    #{$property}: #{$max-size}#{$unit}; } }


/* media breakpoint mixin */
@mixin media-breakpoint-up($name) {
  @if map_has_key($breakpoint, $name) {
    @media (min-width: map_get($breakpoint, $name)) {
      @content;
    }
  } @else {
    @media (min-width: $name) {
      @content;
    }
  }
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }
}

/* Single property transition mixin */
$animation-speed: .3s;

@mixin multi-transition($transition, $properties-list...) {
  transition-duration: $transition;
  //transition-timing-function: ease-in-out;
  transition-property: $properties-list;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}


// fonts
@mixin font($fontName, $folderName, $fileName, $weight, $style) {
  @font-face {
    font-family: #{$fontName};
    src: url("../fonts/#{$folderName}/#{$fileName}.woff") format("woff"), url("../fonts/#{$folderName}/#{$fileName}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
    font-display: swap;
  }
}

// hover
@mixin hover($transition: 0.3s, $properties-list: all) {
  @media (any-hover: hover) {
    transition-duration: $transition;
    transition-property: $properties-list;
    &:hover {
      @content;
    }
  }
}

// hide
@mixin none() {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

// gap
@mixin gap($property, $value) {
  @if $property == column {
    @supports (column-gap: $value) {
      column-gap: $value;
    }
    @supports not (column-gap: $value) {
      margin-right: calc( 0px - (#{$value} / 2));
      margin-left: calc( 0px - (#{$value} / 2));
      & > * {
        margin-right: calc(#{$value} / 2);
        margin-left: calc(#{$value} / 2);
      }
    }
  } @else if $property == row {
    @supports (row-gap: $value) {
      row-gap: $value;
    }
    @supports not (row-gap: $value) {
      & {
        margin-top: -$value;
      }
      & > * {
        margin-top: $value;
      }
    }
  } @else if $property == gap {
    @supports (gap: $value) {
      gap: $value;
    }
    @supports not (gap: $value) {
      margin-right: calc(0px - (#{$value} / 2));
      margin-left: calc(0px - (#{$value} / 2));
      margin-top: -$value;
      & > * {
        margin-right: calc(#{$value} / 2);
        margin-left: calc(#{$value} / 2);
        margin-top: $value;
      }
    }
  }
}

// supports
@mixin supports($property, $value) {
  @supports ($property: $value) {
    #{$property}: $value;
  }
  @supports not ($property: $value) {
    @content;
  }
}

@mixin flex-basis-responsive($number, $gap, $item) {
  flex-basis: calc((100% - #{$number} * #{$gap}) / #{$item});
}

// grid
@mixin grid-col($column) {
  &__col-#{$column} {
    grid-template-columns: repeat(#{$column}, 1fr);
  }
}